You have been invited to AlphOne
Hello {{.Name}},

Someone invited you to AlphOne. Choose your password here to activate your
account:

{{.Link}}

The link works once. If you were not expecting this invitation, ignore this
message and nothing will happen.
