/* SPDX-License-Identifier: AGPL-3.0-or-later */

#root {
	isolation: isolate;
}

body {
	position: relative;
	margin: 0;
	font-family: var(--wpds-typography-font-family-body);
	color: var(--wpds-color-foreground-content-neutral);
	background: var(--wpds-color-background-surface-neutral);
}
