/* SPDX-License-Identifier: AGPL-3.0-or-later */

@layer alphone {
	.checkbox {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex: none;
		box-sizing: border-box;
		width: var(--wpds-dimension-size-xs);
		height: var(--wpds-dimension-size-xs);
		padding: 0;
		margin: 0;
		color: var(--wpds-color-foreground-interactive-neutral-strong);
		background: var(--wpds-color-background-surface-neutral-strong);
		border: var(--wpds-border-width-sm) solid var(--wpds-color-stroke-interactive-neutral);
		border-radius: var(--wpds-border-radius-xs);
		cursor: var(--wpds-cursor-control);
	}

	.checkbox:hover:not([data-disabled]) {
		border-color: var(--wpds-color-stroke-interactive-neutral-active);
	}

	.checkbox:focus-visible {
		outline: var(--wpds-border-width-focus) solid var(--wpds-color-stroke-focus);
		outline-offset: var(--wpds-border-width-sm);
	}

	.checkbox[data-checked] {
		color: var(--wpds-color-foreground-interactive-neutral-strong);
		background: var(--wpds-color-background-interactive-neutral-strong);
		border-color: var(--wpds-color-background-interactive-neutral-strong);
	}

	.checkbox[data-disabled] {
		color: var(--wpds-color-foreground-interactive-neutral-disabled);
		border-color: var(--wpds-color-stroke-interactive-neutral-disabled);
		cursor: not-allowed;
	}

	.indicator {
		display: flex;
	}
}
